<ng-template [ngIf]="product != undefined">
        <div class="row" id="single-page">
            <div class="medium-6 columns">
                <img class="thumbnail" src={{product.ProductPicUrl}}>
            </div>
            <div class="medium-6 large-5 columns">
                <h3><span>Product Name:</span> {{product.Name}}</h3>
                <br>
                <p><span>Product Description:</span> {{product.Description}}</p>
                <hr>
                <br>
                <app-submit-btn [name]="'AddToCart'" (click)="addToCart()"></app-submit-btn>
            </div>
        </div>
</ng-template>
