<div class="container">
	<table id="cart" class="table ">
    			<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:50%"></th>
						</tr>
					</thead>
					<tbody>
            <ng-container *ngFor="let item of cartItemsArray">
              <tr>
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 "><img  src={{item.ProductPicUrl}}></div>
                        <div class="col-sm-8" style="margin-left:20px;">
                          <h4 class="nomargin">{{item.Name}}</h4>
                          <p>{{item.Description}}</p>
                        </div>
                      </div>
                    </td>
                    <td data-th="Price">${{item.Price}}</td>
                    <td data-th="Quantity">
                      <input type="number" class="form-control text-center" disabled value={{item.Quantity}}>
                    </td>
                    <td data-th="Subtotal" class="text-center">{{item.TotalPrice}}</td>
                    <td class="actions row" >
                      <button class="btn btn-info btn-sm col" style="margin-left:5px;" (click)="addToCart(item.Id)"><i class="fas fa-plus-circle"></i></button>
                      <button class="btn btn-danger btn-sm col" style="margin-left:5px;" (click)="removeOneItemFromCart(item.Id)"><i class="fas fa-minus-circle"></i></button>	
                      <button class="btn btn-danger btn-sm col" style="margin-left:5px;" (click)="removeItemFromCart(item.Id)"><i class="fas fa-trash-alt"></i></button>															
                    </td>
                  </tr>
                </ng-container>
					</tbody>
					<tfoot>
						<tr>
							<td><a routerLink="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total ${{totalSum}}</strong></td>
							<td><button class="btn btn-success btn-block" (click)="checkOut()">Checkout <i class="fa fa-angle-right"></i></button></td>
						</tr>
					</tfoot>
				</table>
</div>











