<div class="productsContainer">
    <ng-container *ngFor="let product of products">
        <app-card
        Id = {{product.Id}}
        Name = {{product.Name}} 
        Description = {{product.Description}}
        Price = {{product.Price}}
        ProductPicUrl = {{product.ProductPicUrl}}
        Stock = {{product.Stock}}
        ></app-card>
    </ng-container>
</div>