<div class="container page-wrapper">
  <div class="page-inner">
    <div class="row">
      <div class="el-wrapper">
        <div class="box-up"  (click)="onClick()">
          <a><img class="img" src={{ProductPicUrl}}  alt=""></a>
          <div class="img-info">
            <div class="info-inner">
              <span class="p-name">{{ Name }}</span>
            </div>
          </div>
        </div>
        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>
          <div class="row" style="padding:20px;" >
            <div class="col">
              <span class="price">{{ Price }}$</span>
            </div>
            <div class="col">
              <a class="cart" (click)="addToCart()">
                <span class="add-to-cart">
                <span class="txt"><i class="fas fa-cart-plus">Cart</i></span>
                </span>
              </a>
            </div>
            <div class="col">
                <a class="cart" (click)="addToWishList()">
                  <span class="add-to-cart">
                  <span class="txt"><i class="fas fa-heart">wishList</i></span>
                  </span>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
