<form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <div class="form-group" style="margin-left: 20px; margin-top:20px;">
                <app-input  [type]="'email'"  [id]="'email'" [controlGroup]='loginForm'  [controlName]="'email'" [name]="'email'"  aria-describedby="emailHelp" [placeholder]="'Enter Email'"></app-input>
            <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="alert alert-danger col-4" style="margin-top:20px;">
                <div *ngIf="loginForm.controls['email'].errors.required">
                    email is required.
                </div>
                <div *ngIf="loginForm.controls['email'].errors.email">
                    Must be Email Format
                </div>
                </div>
        </div>
        <div class="form-group" style="margin-left: 20px; margin-top:20px;">
                <app-input  [type]="'password'"  [id]="'password'" [controlGroup]='loginForm' [controlName]="'password'" [name]="'password'"  aria-describedby="passwordHelp" [placeholder]="'Enter password'"></app-input>
            <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert alert-danger col-4" style="margin-top:20px;">
                    <div *ngIf="loginForm.controls['password'].errors.required">
                        password is required.
                    </div>
                    <div *ngIf="loginForm.controls['password'].errors.minlength">
                        password must be more than 8 characters
                    </div>
                    <div *ngIf="loginForm.controls['password'].errors.maxlength">
                            password must be less than 20 characters
                    </div>
            </div>
        </div>
        <app-submit-btn [name]="'Sign In'" ></app-submit-btn>
    </div>
</form>