<form  [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
        <div class="form-group" style="margin-left: 20px; margin-top:20px;">
            <app-input  [type]="'name'"  [id]="'name'" [controlGroup]='registrationForm'  [controlName]="'name'" [name]="'name'"  aria-describedby="emailHelp" [placeholder]="'Enter Name'"></app-input>
            <div *ngIf="registrationForm.controls['name'].invalid && (registrationForm.controls['name'].dirty || registrationForm.controls['name'].touched)" class="alert alert-danger col-4" style="margin-top:20px;">
                <div *ngIf="registrationForm.controls['name'].errors.required">
                    name is required.
                </div>
                </div>
        </div>
        <div class="form-group" style="margin-left: 20px; margin-top:20px;">
            <app-input  [type]="'email'"  [id]="'email'" [controlGroup]='registrationForm'  [controlName]="'email'" [name]="'email'"  aria-describedby="emailHelp" [placeholder]="'Enter Email'"></app-input>
            <div *ngIf="registrationForm.controls['email'].invalid && (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched)" class="alert alert-danger col-4" style="margin-top:20px;">
                <div *ngIf="registrationForm.controls['email'].errors.required">
                    email is required.
                </div>
                <div *ngIf="registrationForm.controls['email'].errors.email">
                    Must be Email Format
                </div>
                </div>
        </div>
        <div class="form-group" style="margin-left: 20px; margin-top:20px;">
            <app-input  [type]="'password'"  [id]="'password'" [controlGroup]='registrationForm' [controlName]="'password'" [name]="'password'"  aria-describedby="passwordHelp" [placeholder]="'Enter password'"></app-input>
            <div *ngIf="registrationForm.controls['password'].invalid && (registrationForm.controls['password'].dirty || registrationForm.controls['password'].touched)" class="alert alert-danger col-4" style="margin-top:20px;">
                    <div *ngIf="registrationForm.controls['password'].errors.required">
                        password is required.
                    </div>
                    <div *ngIf="registrationForm.controls['password'].errors.minlength">
                        password must be more than 8 characters
                    </div>
                    <div *ngIf="registrationForm.controls['password'].errors.maxlength">
                            password must be less than 20 characters
                    </div>
            </div>
        </div>
        <app-submit-btn [name]="'Sign UP'" ></app-submit-btn>
    </div>
</form>