.fa-trash-alt:hover{
    cursor: pointer;
}
.dropdown-menu{
    width: 210px;
}
#wish-list-data{
    margin-left: 10px;
}
#cart-data{
    margin-left: 10px;
}
#wish-list-data:hover{
    color: bisque;
}
#cart-data:hover{
    color: bisque;
}