<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><i class="fab fa-shopware fa-spin"></i> shopWare</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="authService.isLoggedIn()">
          <li class="nav-item dropdown" id="wish-list">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-list-alt"> {{wishListCounter}}</i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <ng-container *ngFor="let item of wishListItemsArray">
                    <div class="row " >
                      <div class="col-11" id="wish-list-data">
                         {{item.Name}} <i class="fas fa-trash-alt col-2" (click)="removeItemFromWishList(item.Id)"></i>
                      </div>
                 
                    </div>
                  </ng-container>
              </div>
          </li>
          <li class="nav-item dropdown" id="cart">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-shopping-cart"> {{cartCounter}}</i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <ng-container *ngFor="let item of cartItemsArray">
                  <div class="row " >
                    <div class="col" id="cart-data">
                      {{item.Name}} | {{item.Quantity}}
                      <i class="fas fa-trash-alt col-2" (click)="removeItemFromCart(item.Id)"></i>
                    </div>
                  </div>
                </ng-container>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/checkout"> Check Out Cart Items</a>
            </div>
        </li>
        </ng-container>
      <ng-container *ngIf="authService.isLoggedIn() === false">
        <li class="nav-item" >
          <a class="nav-link" routerLink="/login" >
            <i class="fa fa-user mt-1"> SignIn</i> 
          </a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" routerLink="/register" >
              <i class="fas fa-user-plus"> SignUp</i>
            </a>
        </li>
      </ng-container>
      <ng-container *ngIf="authService.isLoggedIn()">
        <li class="nav-item">
            <a class="nav-link" routerLink="/" >
              <i class="fas fa-sign-out-alt" (click)="logOut()"> LogOut</i>          
            </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>