<div style="margin-left: 20px; margin-top:20px;" [formGroup]="formGroupChild" >
    <label for="name">{{name}}</label>
    <input [type]="type" class="form-control col-4" [id]="id"  [name]="name" [formControlName]="formControlChild" [placeholder]="placeholder" aria-describedby="emailHelp"  >
</div>