  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">E-Commerce Single Page Application Using Angular7</p>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="https://www.linkedin.com/in/ahmedibrahim94/">About Us</a></li>
            <li><a href="https://www.linkedin.com/in/ahmedibrahim94/">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="https://www.linkedin.com/in/ahmedibrahim94/">Ahmed Ibrahim</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/Ahmedhemaz"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/AhmedHemaz"><i class="fab fa-twitter"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/ahmedibrahim94/"><i class="fab fa-linkedin-in"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>